{% extends 'AdcogBloggerBundle:BloggerFaqCategory:read.html.twig' %}

{% block title %}{{ title(null,{'%entity%':faqCategory}) }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ link('blogger_faq_category_delete',{faqCategory:faqCategory.id},{},{vars:{'%entity%':faqCategory }}) }}</li>
{% endblock %}

{% block subcontent %}
    <ul class="list-inline">
        <li>{{ link('blogger_faq_category_index',{},{class:'btn btn-xs btn-default',ficon:'arrow-left'}) }}</li>
        <li>{{ link('blogger_faq_category_create',{},{class:'btn btn-xs btn-success',ficon:'plus'}) }}</li>
        <li>{{ link('blogger_faq_category_read',{faqCategory:faqCategory.id},{class:'btn btn-xs btn-default',ficon:'comment'},{vars:{'%entity%':faqCategory }}) }}</li>
        <li>{{ link('blogger_faq_category_update',{faqCategory:faqCategory.id},{class:'btn btn-xs btn-warning',ficon:'pencil'},{vars:{'%entity%':faqCategory }}) }}</li>
    </ul>
    <p class="alert alert-danger">Êtes-vous certain de voulois supprimer {{ faqCategory }} ?</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row form-group">
        <div class="col-lg-12">
            <ul class="list-inline">
                <li>{{ link('blogger_faq_category_index',{},{class:'btn btn-xs btn-default',ficon:'arrow-left'}) }}</li>
                <li>{{ link('blogger_faq_category_create',{},{class:'btn btn-xs btn-success',ficon:'plus'}) }}</li>
                <li>{{ link('blogger_faq_category_read',{faqCategory:faqCategory.id},{class:'btn btn-xs btn-default',ficon:'comment'},{vars:{'%entity%':faqCategory }}) }}</li>
                <li>{{ link('blogger_faq_category_update',{faqCategory:faqCategory.id},{class:'btn btn-xs btn-warning',ficon:'pencil'},{vars:{'%entity%':faqCategory }}) }}</li>
                <li class="pull-right">
                    <button type="submit" class="btn btn-danger"><span class="fa fa-trash-o"></span> {{ title() }}</button>
                </li>
            </ul>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}