{% extends 'AdcogMemberBundle:MemberYearbook:index.html.twig' %}

{%if form is defined %}
{% form_theme form _self %}
{% endif %}

{% block form_row %}
{{ form_label(form) }}
{{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
{% endblock %}

{% block breadcrumb %}
{{ parent() }}
<li>{{ link('member_yearbook_employers') }}</li>
{% endblock %}

{% block tab %}
<div class="filter">
  {{ form_start(form) }}
  {{ form_errors(form) }}
  <div class="form-group container-fluid">
    {{ form_row(form.name)}}
  </div>
  <div class="form-group container-fluid">
    <div class="row">
      <div class="col-md-4">
        {{ form_row(form.country) }}
      </div>
      <div class="col-md-8">
        {{ form_row(form.place) }}
      </div>
    </div>
  </div>
  <div class="form-group container-fluid">
    {{ form_row(form.employerType) }}
  </div>
  <div class="form-group container-fluid">
    {{ form_row(form.sectors) }}
  </div>

  <div class="form-group container-fluid text-center">
    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Rechercher</button>
  </div>
  {{ form_end(form) }}
</div>
  {% include 'AdcogDefaultBundle::pagination.html.twig' %}
<ul class="colored-timeline full">
  {% for employer in paginator %}
  {% include 'AdcogDefaultBundle:Widget:_employer.html.twig' %}
  {% else %}
  {% include 'AdcogDefaultBundle:Widget:_none.html.twig' %}
  {% endfor %}
</ul>
{% endblock %}