{% extends 'AdcogMemberBundle:MemberYearbook:employers.html.twig' %}

{% block title %}{{ employer }}{% endblock %}

{% block description %}{{ employer }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ link('member_yearbook_employer',{employer:employer.id,slug:employer.slug},{name:employer,title:employer}) }}</li>
{% endblock %}

{% block subcontent %}
    <div class="text-center">
        {% include 'AdcogDefaultBundle:Widget:_component_employer.html.twig' %}
    </div>
    {% if employer.experiences.count > 0 %}
        <h2>Expériences</h2>
        <div class="text-center component-card__list">
        {% for experience in employer.experiences %}
            {% include 'AdcogDefaultBundle:Widget:_component_experience.html.twig' %}
        {% endfor %}
        </div>
    {% endif %}
    <ul class="list-unstyled list-inline">
        <li>{{ link('member_yearbook_employers',{},{name:'&laquo; Retour',class:'btn btn-link'}) }}</li>
    </ul>
{% endblock %}