{% extends 'AdcogMemberBundle:MemberYearbook:members.html.twig' %}

{% block title %}{{ user }}{% endblock %}

{% block description %}{{ user }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ link('member_yearbook_member',{user:user.id,slug:user.slug},{name:user,title:user}) }}</li>
{% endblock %}

{% block subcontent %}
    <div class="text-center">
        {% include 'AdcogDefaultBundle:Widget:_component_user.html.twig' %}
    </div>
    {% if user.experiences.count > 0 %}
        <h2>Expériences</h2>
        <div class="text-center component-card__list">
        {% for experience in user.experiences %}
            {% include 'AdcogDefaultBundle:Widget:_component_experience.html.twig' %}
        {% endfor %}
        </div>
    {% endif %}
    <ul class="list-unstyled list-inline">
        <li>{{ link('member_yearbook_members',{},{name:'&laquo; Retour',class:'btn btn-link'}) }}</li>
    </ul>
{% endblock %}