{% extends 'AdcogMemberBundle:MemberYearbook:index.html.twig' %}

{%if form is defined %}
{% form_theme form _self %}
{% endif %}

{% block form_row %}
    <div class="form-group container-fluid">
        {{ form_label(form) }}
        {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ link('member_yearbook_members') }}</li>
{% endblock %}

{% block tab %}
    <div class="filter">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <div class="form-group container-fluid text-center">
            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Rechercher</button>
        </div>
        {{ form_end(form) }}
    </div>
  {% include 'AdcogDefaultBundle::pagination.html.twig' %}

    <ul class="colored-timeline full component-card__list">
        {% for user in paginator %}
            {% include 'AdcogDefaultBundle:Widget:_user.html.twig' %}
        {% else %}
            {% include 'AdcogDefaultBundle:Widget:_component_none.html.twig' %}
        {% endfor %}
    </ul>
{% endblock %}