<li class="timeline-inverted experience {{ experience.type }} {{ experience.ended ? 'ended' : 'not-ended' }}">
    <div class="timeline-badge">
        <i class="fa"></i>
    </div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4 class="timeline-title">
                {{ link('member_yearbook_experience',{experience:experience.id,slug:experience.slug},{name:experience,title:experience}) }}
            </h4>
            <p>
                <small class="text-muted">
                    <i class="fa fa-clock-o"></i> {{ experience.started|dateago }}
                    {% if experience.ended %}
                        {{ experience.started|timediff(experience.ended) }}
                    {% endif %}
                </small>
            </p>
        </div>
        <div class="timeline-body">
            <div class="tags pull-right">
                {% for sector in experience.sectors %}
                    <span class="tag">{{ sector }}</span>
                {% endfor %}
            </div>
            <ul class="list-unstyled">
                <li><strong>Établissement/Employeur</strong> : {{ link('member_yearbook_employer',{employer:experience.employer.id,slug:experience.employer.slug},{name:experience.employer,title:experience.employer}) }}</li>
                {% if experience.employer.address %}
                    <li><strong>Adresse</strong> : {{ experience.employer.address }}</li>
                {% endif %}
                {% if experience.employer.zip %}
                    <li><strong>Code postal</strong> : {{ experience.employer.zip }}</li>
                {% endif %}
                {% if experience.employer.city %}
                    <li><strong>Ville</strong> : {{ experience.employer.city }}</li>
                {% endif %}
                {% if experience.employer.country %}
                    <li><strong>Pays</strong> : {{ experience.employer.country }}</li>
                {% endif %}
                {% if experience.employer.website %}
                    <li><strong>Site web</strong> : <a href="{{ experience.employer.website }}">{{ experience.employer.website }}</a></li>
                {% endif %}
            </ul>
            <p>{{ experience.description|nl2br }}</p>
        </div>
    </div>
</li>