{% extends 'AdcogBloggerBundle:BloggerTag:read.html.twig' %}

{% block title %}{{ title(null,{'%entity%':tag}) }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ link('blogger_tag_update',{tag:tag.id},{},{vars:{'%entity%':tag }}) }}</li>
{% endblock %}

{% block subcontent %}
    <ul class="list-inline">
        <li>{{ link('blogger_tag_index',{},{class:'btn btn-xs btn-default',ficon:'arrow-left'}) }}</li>
        <li>{{ link('blogger_tag_create',{},{class:'btn btn-xs btn-success',ficon:'plus'}) }}</li>
        <li>{{ link('blogger_tag_read',{tag:tag.id},{class:'btn btn-xs btn-default',ficon:'comment'},{vars:{'%entity%':tag }}) }}</li>
        <li>{{ link('blogger_tag_replace',{tag:tag.id},{class:'btn btn-xs btn-info',ficon:'random'},{vars:{'%entity%':tag }}) }}</li>
        <li>{{ link('blogger_tag_delete',{tag:tag.id},{class:'btn btn-xs btn-danger',ficon:'trash-o'},{vars:{'%entity%':tag }}) }}</li>
    </ul>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row form-group">
        <div class="col-lg-12">
            <ul class="list-inline">
                <li>{{ link('blogger_tag_index',{},{class:'btn btn-xs btn-default',ficon:'arrow-left'}) }}</li>
                <li>{{ link('blogger_tag_create',{},{class:'btn btn-xs btn-success',ficon:'plus'}) }}</li>
                <li>{{ link('blogger_tag_read',{tag:tag.id},{class:'btn btn-xs btn-default',ficon:'comment'},{vars:{'%entity%':tag }}) }}</li>
                <li>{{ link('blogger_tag_replace',{tag:tag.id},{class:'btn btn-xs btn-info',ficon:'random'},{vars:{'%entity%':tag }}) }}</li>
                <li>{{ link('blogger_tag_delete',{tag:tag.id},{class:'btn btn-xs btn-danger',ficon:'trash-o'},{vars:{'%entity%':tag }}) }}</li>
                <li class="pull-right">
                    <button type="submit" class="btn btn-warning"><span class="fa fa-pencil"></span> {{ title() }}</button>
                </li>
            </ul>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}