{% extends 'AdcogDefaultBundle:Blog:index.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block description %}{{ post.title }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ link('blog_read',{post:post.id,slug:post.slug},{name:post.title,title:post.title}) }}</li>
{% endblock %}

{% block form_result %}
{% endblock %}

{% block articles %}
    {% if not post.isValid() %}
        <p class="alert alert-danger">
            Vous pouvez consulter cet article car vous êtes blogger. Cet article n'est pas publié pour les autres utilisateurs.
        </p>
    {% endif %}
    <article class="article row">
        <div class="col-sm-2">
            <div class="date">{{ post.created.format('d') }} {{ strftime('%b',post.created.timestamp) }}<br>{{ post.created.format('Y') }}</div>
            <div class="type"><span class="fa fa-asterisk"></span></div>
        </div>
        <div class="col-sm-10 pull-right">
            {% if post.uri is not empty %}
                <div class="img">
                    <img src="{{ post.uri }}" alt="{{ post.title }}"/>
                </div>
            {% endif %}
            <div class="content">{{ post.text|raw }}</div>
            <div>
                {% if post.author.profile %}
                    <h3 class="text-right">{{ link('default_profile',{slug:post.author.profile.slug},{name:post.author,title:post.author}) }}</h3>
                {% else %}
                    <h3 class="text-right">{{ post.author }}</h3>
                {% endif %}
            </div>
			{% if post.hasBeenValidated() and post.isValid() %}
			<h3>Réseaux sociaux</h3>
			<div class="share">
				<div class="fb-like" 
					data-layout="button" 
					data-action="like">
				</div>
				<div class="fb-share-button" 
					data-href="{{ url('blog_read',{post:post.id,slug:post.slug}) }}" 
					data-layout="button_count">
				</div>
				<a href="https://twitter.com/share" class="twitter-share-button"{count} 
					data-text="{{ post.title }}"
					data-url="{{ url('blog_read',{post:post.id,slug:post.slug}) }}"
					data-via="AssoAdcog" 
					data-lang="fr"
					data-hashtags="adcog"
				>Tweet</a>
				<script type="IN/Share" 
					data-url="{{ url('blog_read',{post:post.id,slug:post.slug}) }}" 
					data-counter="right">
				</script>
				<div class="g-plus" 
					data-action="share" 
					data-annotation="bubble" 
					data-height="20" 
					data-href="{{ url('blog_read',{post:post.id,slug:post.slug}) }}">
				</div>
			</div>
			{% endif %}
        </div>
    </article>
    {% include 'AdcogDefaultBundle::form.html.twig' %}
    <ul class="colored-timeline full square" id="comments">
        {% if form is not empty and app.user %}
            <li class="timeline-inverted comment">
                <div class="timeline-badge">
                    <img src="{{ app.user|user_profile|imagine_filter('default_40_40') }}" alt="{{ app.user }}"/>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">{{ app.user }}</h4>
                        <p>
                            <small class="text-muted">{{ 'now'|date|timeago }}</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        {{ form_start(form) }}
                        {{ form_widget(form.text,{attr:{class:'form-control' }}) }}
                        <div style="margin:10px 0 0;">
                            <button class="btn btn-primary btn-block" type="submit">Commenter</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </li>
        {% else %}
            <li class="timeline-inverted comment">
                <div class="timeline-badge">
                    <img src="{{ null|user_profile|imagine_filter('default_40_40') }}" alt="{{ app.user }}"/>
                </div>
                <div class="timeline-panel">
                    <p class="well-sm no-margin">{{ link('default_connexion',{},{'name':'Connectez-vous'}) }} pour ajouter un commentaire.</p>
                </div>
            </li>
        {% endif %}
        {% for comment in comments %}
            {% include 'AdcogDefaultBundle:Widget:_comment.html.twig' %}
        {% else %}
            {% include 'AdcogDefaultBundle:Widget:_none.html.twig' with {none_text:'Aucun commentaire trouvé.'} %}
        {% endfor %}
    </ul>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>
	<script src="https://apis.google.com/js/platform.js" async defer>
		{lang: 'fr'}
	</script>
{% endblock %}
