{% extends 'AdcogUserBundle:UserExperience:read.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ link('user_experience_update',{experience:experience.id}) }}</li>
{% endblock %}

{% block subcontent %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_rest(form) }}
    <div class="row form-group">
        <div class="col-lg-12">
            <ul class="list-inline">
                <li>{{ link('user_experience_index',{},{class:'btn btn-xs btn-default',ficon:'arrow-left'}) }}</li>
                <li class="pull-right">
                    <button type="submit" class="btn btn-warning"><span class="fa fa-pencil"></span> {{ title() }}</button>
                </li>
            </ul>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascript%}
{{parent()}}
{#gestion de cacher/montrer le champ de texte suivant si on est à temps Partiel ou non#}
    {% if form.partTime is defined %}
        
        
        
        <script type="text/javascript">
            var cpt=0;
            if(cpt==0){
                {% if form.partTimeValue.vars.value == 0 %}
                    $({{form.partTimeValue.vars.id}}).hide();
                    $({{form.partTimeValue.vars.id}}).parent().parent().hide();
                    cpt++;
                {% endif %}
            }
            $({{form.partTime.vars.id}}).click(function() {
            if(this.checked){
                $({{form.partTimeValue.vars.id}}).show();
                $({{form.partTimeValue.vars.id}}).parent().parent().show();
            }
            else{
                $({{form.partTimeValue.vars.id}}).hide();
                $({{form.partTimeValue.vars.id}}).parent().parent().hide();
                {{form.partTimeValue.vars.id}}.value='';   
            }
            });
            $({{form.partTimeValue.vars.id}}).change(function() {
                if ({{form.partTimeValue.vars.id}}.value > 100) {
                    {{form.partTimeValue.vars.id}}.value = 100;
                }
                if ({{form.partTimeValue.vars.id}}.value <= 0) {
                    {{form.partTimeValue.vars.id}}.value = 0;
                }
            })
        </script>   
    {% endif %}
{% endblock %}