{% extends 'AdcogUserBundle:UserExperience:read.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ link('user_experience_update',{experience:experience.id}) }}</li>
{% endblock %}

{% block subcontent %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_rest(form) }}
    <div class="row form-group">
        <div class="col-lg-12">
            <ul class="list-inline">
                <li>{{ link('user_experience_index',{},{class:'btn btn-xs btn-default',ficon:'arrow-left'}) }}</li>
                <li class="pull-right">
                    <button type="submit" class="btn btn-warning"><span class="fa fa-pencil"></span> {{ title() }}</button>
                </li>
            </ul>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{# Marche mais bloque exécution des autres scripts js}
{% block javascript %}
    {% if form.partTime is defined %}
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $({{form.partTime.vars.id}}).click(function() {
            $({{form.partTimeValue.vars.id}})[this.checked ? "show" : "hide"]();
        });
        </script>
    {% endif %}
{% endblock %}
#}