{% extends 'AdcogBloggerBundle:Blogger:index.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ link('blogger_static_content_index') }}</li>
{% endblock %}

{% block subcontent %}
    {% include 'AdcogDefaultBundle::filter.html.twig' %}
    <ul class="list-inline">
        <li>{{ link('blogger_static_content_create',{},{class:'btn btn-xs btn-success',ficon:'plus'}) }}</li>
    </ul>
    <div class="row">
        <div class="table_responsive">
            <table class="{{ table_class }}">
                <thead>
                    <tr>
                        <th class="sm">#</th>
                        <th>Type</th>
                        <th>Contenu</th>
                        <th class="sm"></th>
                        <th class="sm"></th>
                        <th class="sm"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for staticContent in paginator %}
                        <tr>
                            <td>{{ staticContent.id }}</td>
                            <td>{{ staticContent.typeName }}</td>
                            <td>{{ staticContent }}</td>
                            <td>{{ link('blogger_static_content_read',{staticContent:staticContent.id},{class:'btn btn-xs btn-default',ficon:'comment',name:''},{vars:{'%entity%':staticContent }}) }}</td>
                            <td>{{ link('blogger_static_content_update',{staticContent:staticContent.id},{class:'btn btn-xs btn-warning',ficon:'pencil',name:''},{vars:{'%entity%':staticContent }}) }}</td>
                            <td>{{ link('blogger_static_content_delete',{staticContent:staticContent.id},{class:'btn btn-xs btn-danger',ficon:'trash-o',name:''},{vars:{'%entity%':staticContent }}) }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="100%">
                                <p class="alert alert-info">Cette liste est vide ...</p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}