{% extends 'AdcogAdminBundle:AdminEventParticipation:read.html.twig' %}

{% block title %}Supprimer {{ eventParticipation }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ link('admin_event_participation_delete',{eventParticipation:eventParticipation.id}) }}</li>
{% endblock %}

{% block subcontent %}
    <ul class="list-inline">
        <li>{{ link('admin_event_participation_index',{},{class:'btn btn-xs btn-default',ficon:'arrow-left'}) }}</li>
        <li>{{ link('admin_event_participation_create',{},{class:'btn btn-xs btn-success',ficon:'plus'}) }}</li>
        <li>{{ link('admin_event_participation_read',{eventParticipation:eventParticipation.id},{class:'btn btn-xs btn-default',ficon:'tasks',name:eventParticipation,title:eventParticipation}) }}</li>
        <li>{{ link('admin_event_participation_update',{eventParticipation:eventParticipation.id},{class:'btn btn-xs btn-warning',ficon:'pencil'}) }}</li>
    </ul>
    <p class="alert alert-danger">Êtes-vous certain de voulois supprimer {{ eventParticipation }} ?</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row form-group">
        <div class="col-lg-12">
            <ul class="list-inline">
                <li>{{ link('admin_event_participation_index',{},{class:'btn btn-xs btn-default',ficon:'arrow-left'}) }}</li>
                <li>{{ link('admin_event_participation_create',{},{class:'btn btn-xs btn-success',ficon:'plus'}) }}</li>
                <li>{{ link('admin_event_participation_read',{eventParticipation:eventParticipation.id},{class:'btn btn-xs btn-default',ficon:'tasks',name:eventParticipation,title:eventParticipation}) }}</li>
                <li>{{ link('admin_event_participation_update',{eventParticipation:eventParticipation.id},{class:'btn btn-xs btn-warning',ficon:'pencil'}) }}</li>
                <li class="pull-right">
                    <button type="submit" class="btn btn-danger"><span class="fa fa-trash-o"></span> {{ title() }}</button>
                </li>
            </ul>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}