{% extends 'AdcogAdminBundle:Admin:index.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ link('admin_user_index') }}</li>
{% endblock %}

{% block subcontent %}
    {% include 'AdcogDefaultBundle::filter.html.twig' %}
    <ul class="list-inline">
        <li>{{ link('admin_user_create',{},{class:'btn btn-xs btn-success',ficon:'plus'}) }}</li>
		<li>{{ link('admin_user_export',filter_attr,{class:'btn btn-xs btn-default',ficon:'download'}) }}</li>
    </ul>
    <div class="row">
        <div class="table_responsive">
            <table class="{{ table_class }}">
                <thead>
                    <tr>
                        <th class="sm">#</th>
                        <th class="sm">#</th>
                        <th class="sm"><span class="fa fa-users" title="{{name('admin_user_table_member')}}"></span></th>
                        <th class="sm"><span class="fa fa-key" title="{{name('admin_user_table_admin')}}"></span></th>
                        <th>{{name('admin_user_table_user')}}</th>
                        <th>{{name('admin_user_table_promo')}}</th>
                        <th class="sm"></th>
                        <th class="sm"></th>
                        <th class="sm"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in paginator %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td><img class="no-max" src="{{ user|user_profile|imagine_filter('default_20_20') }}"/></td>
                            {% if user.isMember() %}
                                <td><span class="fa fa-circle text-success" title="{{name('admin_user_table_member')}}"></span></td>
                            {% else %}
                                <td><span class="fa fa-circle-o text-danger" title="{{name('admin_user_table_nomember')}}"></span></td>
                            {% endif %}
                            {% if user.isAdmin() %}
                                <td><span class="fa fa-circle text-success" title="{{name('admin_user_table_admin')}}"></span></td>
                            {% else %}
                                <td><span class="fa fa-circle-o text-danger" title="{{name('admin_user_table_noadmin')}}"></span></td>
                            {% endif %}
                            <td>{{ user }}</td>
                            <td>{{ user.school ? link('admin_school_read',{school:user.school.id},{name:user.school,title:user.school}) : '-' }}</td>
                            <td>{{ link('admin_user_read',{user:user.id},{class:'btn btn-xs btn-default',ficon:'tasks',name:'',title:user}) }}</td>
                            <td>{{ link('admin_user_update',{user:user.id},{class:'btn btn-xs btn-warning',ficon:'pencil',name:'',title:user}) }}</td>
                            <td>{{ link('admin_user_delete',{user:user.id},{class:'btn btn-xs btn-danger',ficon:'trash-o',name:'',title:user}) }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="100%">
                                <p class="alert alert-info">Cette liste est vide ...</p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}