{% extends 'AdcogUserBundle:User:index.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ link('admin_index') }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div id="subnav" class="col-md-3">
            <h3>Association</h3>
            <ul class="nav">
                <li{{ current('admin_user') }}>{{ link('admin_user_index') }}</li>
                <li{{ current('admin_school') }}>{{ link('admin_school_index') }}</li>
                <li{{ current('admin_role') }}>{{ link('admin_role_index') }}</li>
                <li{{ current('admin_office') }}>{{ link('admin_office_index') }}</li>
            </ul>
            <h3>Tarifs & Paiements</h3>
            <ul class="nav">
                <li{{ current('admin_price') }}>{{ link('admin_price_index') }}</li>
                <li{{ current('admin_payment') }}>{{ link('admin_payment_index') }}</li>
                <li{{ current('admin_reminder') }}>{{ link('admin_reminder_index') }}</li>
            </ul>
            <h3>Evenements</h3>
            <ul class="nav">
                <li{{ current('admin_event') }}>{{ link('admin_event_index') }}</li>
                <li{{ current('admin_event_participation') }}>{{ link('admin_event_participation_index') }}</li>
            </ul>
            <h3>Expériences</h3>
            <ul class="nav">
                <li{{ current('admin_experience') }}>{{ link('admin_experience_index') }}</li>
                <li{{ current('admin_sector') }}>{{ link('admin_sector_index') }}</li>
                <li{{ current('admin_experience_source') }}>{{ link('admin_experience_source_index') }}</li>
                <li{{ current('admin_contract_type') }}>{{ link('admin_contract_type_index') }}</li>
                <li{{ current('admin_employer') }}>{{ link('admin_employer_index') }}</li>
                <li{{ current('admin_employer_type') }}>{{ link('admin_employer_type_index') }}</li>
            </ul>
            <h3>Emails</h3>
            <ul class="nav">
                <li>{{ link('admin_email_send') }}</li>
                <li>{{ link('admin_email',{templateName:'contact'},{name:'Contact',title:'Contact'}) }}</li>
                <li>{{ link('admin_email',{templateName:'email'},{name:'Email',title:'Email'}) }}</li>
                <li>{{ link('admin_email',{templateName:'user_persist'},{name:'Utilisateur - Création',title:'Utilisateur - Création'}) }}</li>
                <li>{{ link('admin_email',{templateName:'user_persist_alert'},{name:'Utilisateur - Alerte de création',title:'Utilisateur - Alerte de création'}) }}</li>
                <li>{{ link('admin_email',{templateName:'user_password_lost'},{name:'Utilisateur - Mot de passe oublié',title:'Utilisateur - Mot de passe oublié'}) }}</li>
                <li>{{ link('admin_email',{templateName:'user_update_email'},{name:'Utilisateur - Email modifié',title:'Utilisateur - Email modifié'}) }}</li>
                <li>{{ link('admin_email',{templateName:'user_update_password'},{name:'Utilisateur - Mot de passe modifié',title:'Utilisateur - Mot de passe modifié'}) }}</li>
				<li>{{ link('admin_email',{templateName:'user_expired'},{name:'Utilisateur - Expiration',title:'Utilisateur - Expiration'}) }}</li>
				<li>{{ link('admin_email',{templateName:'user_join_member'},{name:'Utilisateur - Adhésion',title:'Utilisateur - Adhésion'}) }}</li>
                <li>{{ link('admin_email',{templateName:'payment_persist'},{name:'Facture - Création',title:'Facture - Validation'}) }}</li>
                <li>{{ link('admin_email',{templateName:'payment_persist_alert'},{name:'Facture - Alerte de création',title:'Facture - Alerte de création'}) }}</li>
                <li>{{ link('admin_email',{templateName:'payment_validate'},{name:'Facture - Validation',title:'Facture - Validation'}) }}</li>
                <li>{{ link('admin_email',{templateName:'payment_invalidate'},{name:'Facture - Invalidation',title:'Facture - Invalidation'}) }}</li>
                <li>{{ link('admin_email',{templateName:'comment_persist_alert'},{name:'Commentaire - Alerte de création',title:'Commentaire - Alerte de création'}) }}</li>
            </ul>
        </div>
        <div id="area" class="col-md-9">
            <h1>{{ block('title') }}</h1>
            {{ block('subtitle') }}
            {% include 'AdcogDefaultBundle::form.html.twig' %}
            {{ block('subcontent') }} 
            {{ include('EBDoctrineBundle::_paginator.html.twig') }}
        </div>
    </div>
{% endblock %}