{% extends 'AdcogAdminBundle:AdminExperienceSource:read.html.twig' %}

{% block title %}Supprimer {{ expsource }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ link('admin_experience_source_delete',{expsource:expsource.id}) }}</li>
{% endblock %}

{% block subcontent %}
    <ul class="list-inline">
        <li>{{ link('admin_experience_source_index',{},{class:'btn btn-xs btn-default',ficon:'arrow-left'}) }}</li>
        <li>{{ link('admin_experience_source_create',{},{class:'btn btn-xs btn-success',ficon:'plus'}) }}</li>
        <li>{{ link('admin_experience_source_read',{expsource:expsource.id},{class:'btn btn-xs btn-default',ficon:'tasks',name:expsource,title:expsource}) }}</li>
        <li>{{ link('admin_experience_source_replace',{expsource:expsource.id},{class:'btn btn-xs btn-info',ficon:'random'}) }}</li>
        <li>{{ link('admin_experience_source_update',{expsource:expsource.id},{class:'btn btn-xs btn-warning',ficon:'pencil'}) }}</li>
    </ul>
    <p class="alert alert-danger">Êtes-vous certain de voulois supprimer {{ expsource }} ?</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row form-group">
        <div class="col-lg-12">
            <ul class="list-inline">
                <li>{{ link('admin_experience_source_index',{},{class:'btn btn-xs btn-default',ficon:'arrow-left'}) }}</li>
                <li>{{ link('admin_experience_source_create',{},{class:'btn btn-xs btn-success',ficon:'plus'}) }}</li>
                <li>{{ link('admin_experience_source_read',{expsource:expsource.id},{class:'btn btn-xs btn-default',ficon:'tasks',name:expsource,title:expsource}) }}</li>
                <li>{{ link('admin_experience_source_replace',{expsource:expsource.id},{class:'btn btn-xs btn-info',ficon:'random'}) }}</li>
                <li>{{ link('admin_experience_source_update',{expsource:expsource.id},{class:'btn btn-xs btn-warning',ficon:'pencil'}) }}</li>
                <li class="pull-right">
                    <button type="submit" class="btn btn-danger"><span class="fa fa-trash-o"></span> {{ title() }}</button>
                </li>
            </ul>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}